{
  "extends": [
    "airbnb",
    "react-app",
    "prettier"
  ],
  "rules": {
    "jsx-quotes": [
      1,
      "prefer-double"
    ],
    "jsx-a11y/label-has-associated-control": "off",
    "react/prop-types": 0,
    "react/jsx-one-expression-per-line": "off",
    "react/destructuring-assignment": "off",
    "import/no-cycle": 0,
    "import/no-named-as-default": 0,
    "no-param-reassign": 0
  },
  "plugins": [
    "prettier"
  ]
}