:root {
    /* @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap"); */
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    letter-spacing: -0.2px;
    --back-color: #DBDBDB;
    --background-color: #EBECF0;
    --grey: #8F9094;
    --white: #FFF;
    --red: #FF0F0F;
    --light-grey: #BABECC;
    --input-text-color: #464646;
    --text-color: #BABECC;
    /* --back-color: #272727;
    --background-color: #272727;
    --white: #212121;
    --light-grey: #141414;
    --grey: #feeeee;
    --input-text-color: #feeeee;
    --text-color: #868686; */
}

.ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
    background: var(--text-color);
}

.ReactTable .rt-thead.-header {
    box-shadow: inset 0px 4px 4px var(--grey);
    border-radius: 6px;
}

body {
    margin: 0;
}

::-webkit-scrollbar {
    /*hide -y scrollbar*/
    display: none;
}

html {
    font-size: 1rem;
    background-color: var(--background-color);
}

.askPhoneTurn {
    display: none;
}

@media (max-width: 768px) {
    html {
        font-size: 0.7em;
    }
    #burgerBtn {
        width: 4rem;
        height: 4rem;
        border: none;
        box-shadow: none;
        display: block !important;
    }
    .menu-container {
        display: none !important;
    }
    .menu-container_open a {
        overflow: hidden;
        text-align: left;
        color: var(--grey);
        border-bottom: solid 1px var(--light-grey);
        position: relative;
        padding: 0.7em;
        display: block;
        font-size: 1.1em;
        width: 100%;
    }
    .mainPage {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "calendar" "notes" "newCode" "newProfile" "table" !important;
    }
    .userPage {
        display: grid;
        grid-template-columns: 1fr 2fr !important;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "image userPage-container" "image userPage-container" "fieldsAction fieldsAction" "notesUser notesUser" "tableHistory tableHistory" !important;
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 1366px) {}

@media (min-width: 3840px) {
    html {
        font-size: 2.5em;
    }
}

@media (max-width: 600px) and (orientation: portrait) {
    .askPhoneTurn {
        display: block;
        visibility: visible;
        font-size: 1.3rem !important;
        text-align: center;
    }
    .portrait-hide {
        visibility: hidden;
    }
}

.table {
    background-color: var(--back-color);
    text-align: center;
    font-size: 1.1rem;
    /* box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white); */
    color: var(--input-text-color);
}

.tableHeader {
    white-space: pre-line !important;
    word-wrap: break-word;
}

#tablePhoto, #profileImg, #scannerPhoto {
    align-items: center;
    border-radius: 0;
    box-shadow: none;
}

#tablePhoto:hover, #profileImg:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.5s ease-in-out;
}

.table input {
    background-color: var(--back-color) !important;
    cursor: pointer;
    box-shadow: none;
}

#burgerBtn {
    display: none;
}

.menu-container {
    display: flex;
    margin: 0.5rem 0 0.3em 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--white);
}

.menu-container>a {
    flex: 1;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-shadow: 1px 1px 0 var(--white);
}

.menu-container a:first-child {
    border-bottom-left-radius: 0;
}

.menu-container a:last-child {
    border-bottom-right-radius: 0;
}

.menu-container .menu-nav-active {
    color: var(--grey);
    transition: color 0.2s linear;
    box-shadow: inset 2px 1px 2px var(--light-grey), inset -2px -1px 2px var(--white);
}

.userPage {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "image userPage-container fieldsAction" "image userPage-container fieldsAction" "image userPage-container notesUser" "tableHistory tableHistory tableHistory";
    justify-items: center;
    align-content: flex-start;
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    border-radius: 25px;
}

.userPage-container {
    grid-area: userPage-container;
    width: 100%;
}

.userPage .img-container {
    grid-area: image;
    width: 90%;
    height: 90%;
    display: flex;
    background-color: inherit;
    align-items: center;
}

.userPage .img-container>img {
    flex: 1;
    max-width: 95%;
    max-height: 95%;
    object-fit: scale-down;
}

.userPage, .table, .mainPage {
    animation: fadein 0.4s;
}

.userPage .img-container {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

*>label {
    display: block;
    font-size: 1.2em;
    width: 80%;
    text-align: center;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px var(--white);
    margin: 1.3rem 0 0.5rem 0;
}

.tableHeader {
    font-size: 1rem;
    color: var(--grey);
    text-transform: uppercase;
}

*>input, * textarea {
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    color: var(--input-text-color);
    border: none;
    border-radius: 25px;
    padding: 0.4em 0.7em;
    width: 80%;
    font-size: 1.2rem;
    background-color: var(--background-color);
    appearance: none;
    -webkit-appearance: none;
    text-shadow: 0 0 0.1em var(--white);
    outline: none;
}

*>input:hover, .menu-container a:hover {
    background-color: var(--white);
    transition: background-color 0.5s linear;
}

*>input:focus {
    box-shadow: inset 1px 1px 2px var(--light-grey), inset -1px -1px 2px var(--white);
}

*>input::placeholder {
    font-size: 1.1rem;
    color: var(--text-color);
    text-shadow: none;
}

.absolute_position {
    position: absolute;
}

.userPage button, .notesMain button {
    margin: auto 10%;
    border-style: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.3rem;
    border-radius: 25px;
    padding: 0.5rem 3rem;
    text-shadow: 1px 1px 0 var(--white);
    box-shadow: -5px -5px 20px var(--white), 5px 5px 20px var(--light-grey);
}

.calendar {
    margin: 0 auto;
}

.calendar button {
    padding: .75em .5em;
    display: block !important;
}

.calendar button:hover {
    background-color: var(--red) !important;
}

.userPage button:hover, .notesMain button:hover {
    color: var(--grey);
    transition: color 0.2s linear;
}

.userPage-container form button, .FieldsAction button, .newProfileField button, .notesMain button, .notesField button {
    display: none;
}

.userPage-container>*:hover>form>button, .userPage-container>*:hover>button, .FieldsAction>*:hover button, .newProfileField:hover button, .notesMain:hover button, .notesField:hover button {
    display: block;
}

.notesField textarea {
    width: 80%;
    height: 15vh;
    font-size: inherit;
}

.notesField {
    grid-area: notesUser;
    width: 100%;
}

.tableHistory {
    margin-top: 3rem;
    grid-area: tableHistory;
    width: 95%;
    text-shadow: 1px 1px 0 var(--white);
}

#DeleteButton {
    color: var(--red);
    width: auto;
    padding: 0.5rem;
    text-shadow: none;
}

.FieldsAction {
    grid-area: fieldsAction;
    width: 100%;
}

.calendar button {
    border-radius: 25px;
    box-shadow: none;
    border-radius: 25px;
}

.calendar abbr {
    text-decoration: none !important;
}

.mainPage {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "calendar notes" "calendar notes" "newCode newProfile" "table table";
    justify-items: center;
    align-content: flex-start;
    grid-row-gap: 1rem;
    text-align: center;
}

.tableMain {
    margin-top: 1rem;
    grid-area: table;
}

.calendarMain {
    box-shadow: inset 2px 2px 5px var(--light-grey), inset -5px -5px 10px var(--white);
    grid-area: calendar;
}

.notesMain {
    width: 100%;
    grid-area: notes;
}

.notesMain>textarea {
    width: 80%;
    height: 80%;
}

.newProfileField {
    width: 100%;
    grid-area: newProfile;
}

.newCodeField {
    width: 100%;
    grid-area: newCode;
}

.spinner {
    margin: 10% 50%;
    width: 5rem;
    height: 5rem;
    border-top-color: var(--grey);
    border-left-color: var(--light-grey);
    ;
    animation: spinner 800ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}